@import "variables";

#footer {
  width: 100%;
 /* padding: 100px 0 90px;*/
  background: url("/files/assets/layout/Footer_bild 1.png") center top no-repeat ;
  background-size: cover;
  height: auto;
  padding-top: 8vw;
}

.footer {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0 50px;
  flex-wrap: wrap;
}

.footer-left {
  color: white;
  width: 45%;
  h3 {
    font: normal normal 600 36px/49px Open Sans;
    text-transform: uppercase;
    padding: 30px 0 60px;
  }
  .content-element-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 530px;
    .content-text {
      h2 {
        font: normal normal 600 24px/33px Open Sans;
        text-transform: uppercase;
      }
      p {
        font: normal normal 300 18px/30px Open Sans;
        a {
          color: white;
          transition: color 250ms;
          &:hover {
            color: $orange;
          }
        }
      }
    }
    .address {
      p {
        a , span {
          position: relative;
          padding-left: 30px;
          &:before {
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            content: "";
          }
        }
        a {
          &:first-child {
            &:before   {
              background: url("/files/assets/layout/phone.svg") no-repeat;
            }
          }
          &:last-child {
           &:before {
             background: url("/files/assets/layout/mail.svg") no-repeat;
           }
          }
        }
        span {
          &:before {
            background: url("/files/assets/layout/fax.svg") no-repeat;
          }
        }
      }
    }
  }
  .mod_customnav {
    margin-top: -35px;
    ul {
      li {
        font: normal normal 600 18px/24px Open Sans;
        text-transform: uppercase;
        a {
          color: white;
          transition: color 250ms;
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

.contact .footer-right {
  display: none;
}

.map-icon {
  position: relative;
 /* left: 65vw;
  top: 8vw;*/
  top: -40px;
  .marker {
    color: white;
    width: 30px;
    transition: color 250ms;
    &:hover {
      color: $orange;
    }
  }
  span {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    font: normal normal 300 18px/30px Open Sans;
    transition: color 250ms;
    &:hover {
      color: $orange ;
    }
  }
}
.mobile-only {
  display: none;
}

@media screen and (max-width: 1025px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  #footer {
    background: url("/files/assets/layout/Footer-mobile 1.png") right top no-repeat ;
    background-size: cover;
  }
  .footer-left {
    width: 100%;
    img {
      width: 210px;
    }
    h3 {
      font: normal normal 600 20px/27px Open Sans;
      padding: 20px 0 0;
    }
    .content-element-group .content-text {
      h2 {
        font: normal normal 600 16px/22px Open Sans;
      }
    }
    .mod_customnav {
      margin-top: -0;
    }
  }
  .map-icon {
    /*left: 78vw;*/
    top: -13px;
    .marker {
      width: 25px;
    }
    span {
      left: 35px;
    }
  }
}