@import "variables";

.footer-right {
  background: white;
  padding: 30px 0;
  border-radius: 10px;
  .ce_form {
    .formbody {
      .widget-text, .widget-textarea {
        width: 90%;
        margin: 15px auto;
        label {
          font: italic normal normal 16px/22px Open Sans;
          text-transform: uppercase;
          color: #6D6D6D;
        }
        input, textarea {
          background: transparent;
          border: 0;
          font-size: 15px;
          cursor: pointer;
          width: 100%;
          padding: 10px 14px;
          box-sizing: border-box;
          outline: none;
          display: block;
          border-top: 1px solid #6D6D6D ;
          transition: background-color 250ms;
        }
        textarea {
          resize: none;
        }
      }
    }
  }
  .form-teaser {
    width: 90%;
    margin: 0 auto;
    h3 {
      font: normal normal normal 18px/24px Open Sans;
      text-transform: uppercase;
    }
  }
}

.footer-right .widget.widget-submit {
  padding-bottom: 10px;
  text-align: right;
  padding-right: 30px;
  /*display: flex;
  justify-content: center;*/
  .submit {
    outline: none;
    .span-icon {
      height: 50px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

}