@import "variables";

html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font: normal normal normal 22px/30px Open Sans;
}

.welcome, .performances, .to-top-button {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
}

.welcome-teaser {
  h2 {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $orange;
    text-transform: uppercase;
    font: normal normal 600 50px/36px Open Sans;
  /*  &:before, &:after {
      content: "";
      position: absolute;
      border-top: 2px solid $orange;
      top: 60%;
      width: 100%;
    }
    &:before {
      margin-right: 15px;
      right: 100%;
    }
    &:after {
      margin-left: 15px;
      left: 100%;
    }*/
  }
}

.block-link-button, /*.footer-right .widget*/.widget-submit {
  padding: 10px 50px 10px 0;
  display: inline-block;
  a, .submit{
    position: relative;
   /* display: inline-block;*/
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 10px 25px;
    box-shadow: 0px 5px 10px #00000029;
    border: 2px solid #639EC8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .span-icon {
      position: absolute;
      display: inline-block;
      margin: 0;
      top:-2px;
      right: -35px;
      width: 45px;
      height: 54px;
      background: #387AA9;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: all 250ms;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 13px;
      }
    }
    .button-text {
      position: relative;
      z-index: 2;
      font: normal normal normal 24px/36px Open Sans;
      color: $blue;
      text-transform: uppercase;
      transition: color 250ms;
    }
  }
  &:hover {
    .span-icon {
      width: 100%;
      padding-right: 36px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .button-text {
      color: white;
    }
  }
}

.biography #myBtn {
  padding: 0;
  .burger-button {
    &:after {
      max-width: 225px;
    }
  }
  &.active {
    padding: 10px 0 50px;
  }
}

.to-top-button, #myBtn{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px;
  .burger-button {
    width: 65px;
    height: 65px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ff6418;
    position: relative;
    transition: background-color 250ms;
    &:before, &:after {
      content: "";
      position: absolute;
      border-top: 2px solid $orange;
      width: 35vw;
      max-width: 1500px;
    }
    &:before {
      margin-right: 15px;
      right: 100%;
    }
    &:after {
      margin-left: 15px;
      left: 100%;
    }
    &:hover {
      background-color: $orange;
      & > .icon-content {
        display: none;
      }
      & > .icon-hover {
        display: initial;
      }
    }
    .icon-hover {
      display: none;
    }
  }
}

#more {
  display: none;
}

.mobile_menu_active {
  overflow-x: hidden;
}

@media screen and (max-width: 1025px) {
  p {
    font: normal normal normal 18px/28px Open Sans;
  }
  .block-link-button {
    a {
      padding: 8px 25px;
      .button-text {
        font-size: 20px;
      }
      .span-icon {
        height: 44.5px;
      }
    }
  }
  .to-top-button, #myBtn {
    .burger-button {
      width: 50px;
      height: 50px;
      &:before, &:after {
        width: 30vw;
      }
      &:before {
        margin-right: 25px;
      }
      &:after {
        margin-left: 15px;
      }
    }
  }
}


