@import "variables";

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font: normal normal normal 22px/30px Open Sans;
}

.welcome, .performances, .to-top-button {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
}

.welcome-teaser {
  h2 {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $orange;
    text-transform: uppercase;
    font: normal normal 600 50px/36px Open Sans;
    &:before, &:after {
      content: "";
      position: absolute;
      border-top: 2px solid $orange;
      top: 60%;
      width: 100%;
    }
    &:before {
      margin-right: 15px;
      right: 100%;
    }
    &:after {
      margin-left: 15px;
      left: 100%;
    }
  }
}

/*.block-link-button, .button p, .teaser-left p, .widget.widget-submit{
  a, .submit{
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px 30px;
    background: transparent;
    text-align: center;
    font: normal normal normal 24px/36px Open Sans;
    color: $blue;
    text-transform: uppercase;
    transition: color .3s;
    &:before {
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      box-shadow: 0px 5px 10px #00000029;
      border: 2px solid #639EC8;
      border-radius: 10px;
      display: none;
    }
    &:after {
      display: inline-block;
      right: -40px;
      z-index: -1;
      box-sizing: content-box;
      width: 45px;
      height: 50px;
      border-radius: 0 10px 10px 0;
      background: $blue url("/files/assets/layout/pfeil-left-white.svg") no-repeat 50% center;
      transition: all .3s;
      display: none;
    }
    &:before, &:after {
      position: absolute;
      content: "";
      top: 0;
    }
    &:hover {
      color: white;
      &:after {
        width: 100%;
        padding-left: 42px;
        border-radius: 10px;
      !*  background-position-x: 90%;*!
      }
    }
  }
}*/



.block-link-button, .widget.widget-submit {
  padding: 10px 0;
  a, .submit{
    position: relative;
   /* display: inline-block;*/
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 10px 25px;
    box-shadow: 0px 5px 10px #00000029;
    border: 2px solid #639EC8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .span-icon {
      position: absolute;
      display: inline-block;
      margin: 0;
      top:-2px;
      right: -35px;
      width: 45px;
      height: 54px;
      background: $blue;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: all 250ms;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 13px;
       /* left: 50%;
        transform: translateX(-50%);*/
      }
    }
    .button-text {
      position: relative;
      z-index: 2;
      font: normal normal normal 24px/36px Open Sans;
      color: $blue;
      text-transform: uppercase;
      transition: color 250ms;
    }
  }
  &:hover {
    .span-icon {
      width: 100%;
      padding-right: 36px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .button-text {
      color: white;
    }
  }
}

.to-top-button {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px;
  .burger-botton {
    width: 65px;
    height: 65px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ff6418;
    position: relative;
    transition: background-color 250ms;
    &:before, &:after {
      content: "";
      position: absolute;
      border-top: 2px solid $orange;
      width: 35vw;
      max-width: 1500px;
    }
    &:before {
      margin-right: 15px;
      right: 100%;
    }
    &:after {
      margin-left: 15px;
      left: 100%;
    }
    &:hover {
      background-color: $orange;
      & > .icon-content {
        display: none;
      }
      & > .icon-hover {
        display: initial;
      }
    }
    .icon-hover {
      display: none;
    }
  }
}


