@import "variables";

.header-image {
  position: relative;
  .desktop-only img {
    width: 100%;
 /*   height: 70vh;*/
    object-fit: cover;
  }
  .logo.content-image {
    position: absolute;
    bottom: 170px;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 551px;
      height: 257px;
    }
  }
}

.appointment-block {
  position: absolute;
  top: 26vw;
  right: 8vw;
  z-index: 1;
  transform: translateY(-50%);
  background: url("/files/assets/layout/kalender.svg") no-repeat;
  background-size: 100%;
  height: 160px;
  width: 180px;
  .appointment {
    position: relative;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    height: 122px;
    border: 5px solid $orange;
    border-radius: 0 0 20px 20px;
    .content-text {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      color: black;
      p {
        text-transform: uppercase;
        font: normal normal 600 20px/28px Open Sans;
      }
    }
  }
}

.news-teaser {
  width: 90%;
  max-width: 775px;
  margin: 50px auto;
  background: $rosa;
  box-shadow: 0 5px 10px #00000029;
  border-radius: 10px;
  text-align: center;
  .content-text {
   /* height: 211px;*/
    padding-bottom: 30px;
    h2 {
      display: inline-block;
      position: relative;
      padding: 0;
      margin: 30px auto 20px;
      font: normal normal 600 30px/36px Open Sans;
      text-transform: uppercase;
      color: $orange;
      &:before, &:after {
        content: "";
        position: absolute;
        border-top: 1px solid $orange;
        top: 50%;
        width: 100%;
      }
      &:before {
        margin-right: 15px;
        right: 100%;
      }
      &:after {
        margin-left: 15px;
        left: 100%;
      }
    }
    p {
      width: 80%;
      margin: 0 auto;
      font: normal normal normal 24px/36px Open Sans;
    }
  }
}

.welcome, .handling {
  padding: 30px 0 100px;
}

.handling {
  padding-bottom: 50px;
}

.practice-block {
  margin-top: 50px;
}

.welcome, .performances {
  h2 {
    display: block;
    position: relative;
    padding: 0;
    color: $orange;
    text-transform: uppercase;
    font: normal normal 600 50px/36px Open Sans;
    width: 90%;
    margin: 0 auto 50px;
    max-width: 1350px;
    background: white;
    .line {
      border-top: 1px solid $orange;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    span {
      position: relative;
      background: white;
      padding: 0 30px;
    }
  }
}

.performances h2 {
  background: $rosa;
  span {
    background: $rosa;
  }
}

.welcome, .performances {
  .content-element-group {
    text-align: center;
    font: normal normal normal 22px/30px Open Sans;
    .welcome-teaser {
      width: 90%;
      margin: 0 auto;
      max-width: 1200px;
      .rte {
        max-width: 1315px;
        margin: 0 auto;
      }
    }
    .content-block, .performance-block {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;
      padding: 70px 0 50px;
      .block-box {
        width: 33%;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        .icon {
          width: 97px;
          height: 90px;
        }
        h3 {
          text-transform: uppercase;
          font: normal normal 600 26px/36px Open Sans;
        }
        /*p {
          font: normal normal normal 22px/30px Open Sans;
        }*/
        &:first-child {
          h3 {
            color: $blue;
          }
        }
        &:nth-child(2) {
          h3 {
            color: $orange;
          }
        }
        &:last-child {
          h3 {
            color: $gray;
          }
        }
        &:not(:last-child) {
          border-right: 2px solid $gray;
          /*padding-right: 15px;*/
        }

      }
    }
  }
}

.performances {
  background: $rosa;
  margin-bottom: 100px;

  .content-element-group:first-child {
    padding: 100px 0;
  }
  .performance-box {
    width: 19%;
    text-align: center;
    img {
      width: 100px;
      height: 95px;
    }
    h3 {
      font: normal normal normal 24px/32px Open Sans;
      text-transform: uppercase;
      color: $gray;
    }
  }
}

.handling {
  width: 90%;
  max-width: 1165px;
  margin: 0 auto;
  .content-element-group {
    color: $blue;
    h2 {
      text-align: center;
      font: normal normal 600 50px/70px Open Sans;
      text-transform: uppercase;
    }
    .content-text {
      text-align: center;
      margin-top: -25px;
      padding-bottom: 50px;
      h3 {
        font: normal normal normal 30px/70px Open Sans;
      }
    }
  }
  .buttons-links {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .content-text {
      width: 48%;
      &#appointment p a {
        border: 2px solid $orange;
        .button-text {
          color: $orange;
        }
        .span-icon {
          background-color: $orange;
        }
        &:hover {
          .button-text {
            color: white;
          }
        }
      }
    }
  }
}

.handling .block-link-button {
  padding-right: 0;
}

.teaser-left .block-link-button {
  a {
    border: 2px solid white;
    box-shadow: none;
    .button-text {
      color: white;
    }
    .span-icon {
      background-color: white;
    }
    &:hover {
      & .button-text {
        color: $blue;
      }
    }
  }
}

.practice {
  background: #C8E0ED;
  .text-gallery {
    display: flex;
    width: 90%;
    justify-content: space-between;
    float: right;
    flex-wrap: wrap;
    padding: 100px 0;
    align-items: center;
    .teaser-left {
      width: 35%;
      .content-text {
        h2 {
          font: normal normal 600 45px/36px Open Sans;
          text-transform: uppercase;
        }
      }
    }
  }
}

#teams {
  background: url("/files/assets/layout/background-team.png") 0/cover no-repeat;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  margin-top: -11px;
  &.practice .text-gallery .teaser-left .content-text {
    color: white;
  }
}

.biography {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  .text-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .content-element-group {
      width: 40%;
     .content-text {
       h2 {
         font: normal normal 600 50px/36px Open Sans;
         text-transform: uppercase;
         color: $orange;
       }
       h3 {
         font: normal normal normal 30px/36px Open Sans;
         text-transform: uppercase;
         margin-top: -15px;
         padding-bottom: 15px;
         color: $orange;
       }
     }
    }
  }
}

.appointment-booking {
  padding: 50px 0;
}

.contact .handling .buttons-links #contact,
.deadline .handling .buttons-links #appointment {
  display: none;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1400px) {
  .welcome, .performances {
    h2 {
      font-size: 35px;
    }
  }

  .header-image .logo.content-image {
    bottom: 50px;
    img {
      width: 340px;
    }
  }
  .biography .text-image .content-element-group .content-text h2 {
    font-size: 40px;
  }
  .performances .performance-box h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
   .header-image .mobile-only {
    display: block;
    img {
      width: 100%;
    }
  }
  .header-image .logo.content-image {
    bottom: 30vw;
    width: 90%;
    img {
      width: 310px;
      height: 145px;
    }
  }
  .appointment-block {
    top: 45vw;
    right: 6vw;
    height: 112px;
    width: 120px;
    .appointment {
      height: 78px;
      .content-text p {
        font: normal normal 600 12px/18px Open Sans;
      }
    }
  }
  .news-teaser .content-text  {
    h2 {
      font-size: 26px;
    }
    p {
      font: normal normal normal 18px/28px Open Sans;
    }
  }
  .welcome .content-element-group .content-block {
    width: 100%;
    .block-box {
      width: 100%;
      padding: 0;
      &:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid #7E7E7E;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .welcome {
    padding: 10px 0 50px;
  }
  .practice .text-gallery {
    float: none;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    .teaser-left {
      width: 100%;
      .content-text h2 {
        font-size: 26px;
      }
    }
  }
  .welcome-teaser h2 {
    font-size: 26px;
  }

  .performances {
    margin-bottom: 30px;
    .content-element-group {
      width: 85%;
      margin: 0 auto;
      &:first-child {
        padding: 35px 0;
      }
      .performance-block {
        padding: 35px 0;
        .performance-box {
          width: 45%;
          img {
            width: 60px;
            height: 65px;
          }
          h3 {
            font: normal normal normal 14px/20px Open Sans;
            text-align: center;
          }
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  .welcome .content-element-group .content-block .block-box .block-link-button a {
    padding: 5px 25px;
  }

  .handling {
    .content-element-group {
      h2 {
        font: normal normal 600 26px/36px Open Sans;
      }
      .content-text {
        margin-top: 0;
        h3 {
          font: normal normal normal 18px/28px Open Sans;

        }
      }
    }
    .buttons-links {
      margin-right: 35px;
      display: block;
      .content-text {
        width: 100%;
        padding-bottom: 0;
        .block-link-button {
          width: 100%;
          padding-right: 0;
        }
      }
    }
  }

  .welcome, .performances {
    h2 {
      margin-bottom: 20px;
      font-size: 26px;
      span {
        padding: 1px 15px;
        box-decoration-break: clone;
      }
    }
  }

  .biography .text-image .content-element-group {
    width: 100%;
    .content-text {
      h2 {
        font: normal normal 600 26px/32px Open Sans;
      }
      h3 {
        font: normal normal normal 22px/32px Open Sans;
        padding-bottom: 0;
      }
    }
  }

  #calendar.welcome h2 {
    font-size: 22px;
  }

  .appointment-booking {
    padding: 20px 0;
  }


}

@media screen and (max-width: 500px) {
  #practice, #asked-questions{
    &.welcome h2 span {
      padding: 1px 0;
      box-decoration-break: clone;
      max-width: 228px;
      display: inline-block;
    }
  }
  #calendar.welcome h2 span {
    padding: 1px 5px;
  }
}



