@import "variables";

.practice {
  .slider-container {
    width: 60%;
    /*height: auto;*/
 /*   max-width: 1200px;*/
    height: 500px;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    /*padding: 20px;*/
    .slides {
      display: flex;
     /* width: 100%;
      height: 100%;*/
      position: absolute;
      align-items: start;
      justify-content: start;
      left: 0px;
      top: 0px;
      transition: transform 0.5s ease;
      .slide {
        margin: auto 10px;
        width: 365px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.slider-container {
  .button {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }
  .button button{
    width: 30px;
    border: none;
    cursor: pointer;
    margin: 0 80px;
    outline: 0;
    background: transparent;
    transition: 0.3s;
    &:hover {
      filter: brightness(0) saturate(100%) invert(76%) sepia(27%) saturate(6508%) hue-rotate(10deg) brightness(90%) contrast(100%);
    }
    img {
      width: 35px;
    }
  }
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
 /* left: 50%;*/
  left: 195px;
  transform: translateX(-50%);
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid white;
  cursor: pointer;
}
.dot.active {
  background-color: white;
}

#gallery {
  .container {
    position: relative;
    width: 100%;
    padding: 70px 0;
    .slide-block {
      width: 100%;
      max-width: 1500px;
      /*height: 400px;*/
      height: 630px;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin: auto;
      .slider-inner {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        .item {
          position: absolute;
          left: 0;
          top: 0;
          width: 33.3%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          transition: transform 500ms;
          img {
            width: 100%;
            object-fit: cover;
            min-height: 246px;
            color: white;
            opacity: 1;
            transform: scale(1);
            display: inline-block;
            max-width: 100%;
            &.show-image {
              opacity: 1;
              transform: scaleX(1) scaleY(1) scaleZ(1);
              transition: opacity 500ms ease 0s, transform 500ms ease 0s;
            }
          }

        }
      }
    }
  }
}

.button-gallery {
  width: 90%;
  text-align: center;
  position: absolute;
  bottom: 58%;
  z-index: 10;
  margin: 0 auto;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, -50%);
  .prev, .next {
    position: absolute;
    img {
      width: 60px;
    }
  }
  .prev {
    left: 15%;
  }
  .next {
    right: 15%;
  }
}

@media screen and (max-width: 1025px) {
  .practice {
    .slider-container {
      display: none;
    }
    #btn-practice {
      text-align: center;
    }
    .rsts-skin-default .rsts-nav {
      right: initial !important;
      bottom: 12px;
      left: 50% !important;
      transform: translateX(-50%);
    }
    .rsts-skin-default .rsts-nav-bullets a {
      width: 15px !important;
      height: 15px !important;
      border: 2px solid white;
      background: transparent !important;
      &.active {
        box-shadow: none !important;
        background: white !important;
      }
    }
  }
}
