@import "variables";

.practice {
  .slider-container {
    width: 60%;
    height: auto;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    .slides {
      display: flex;
      width: 1000%;
      height: 100%;
      .item {
        margin: auto 10px;
      }
    }
  }
}